<div class="book-list-element">
  <a href="">
    <div class="thumbnail">
      <img src="https://dummyimage.com/150x120/333/fff&text=Buch" alt="Buch Cover">
    </div>
    <div class="content">
      <div class="title">{{ book.title }} </div>
      <div class="authors">{{ book.authors }}</div>
      <div class="price">{{ book.price | currency:'EUR':true }}</div>
      <div [hidden]="book.rating === 0" class="rating" >{{ book.rating }}</div>
    </div>
  </a>
  <div class="actions">
    <tr-rating-button
      [rating]="book.rating"
      (increase)="book.rateUp()"
      (decrease)="book.rateDown()">
    </tr-rating-button>
  </div>
</div>
